.housing-card {
    --housing-card-border-radius: 12px;
    --housing-card-kebab-size: 40px;
    --housing-card-kebab-actions-width: 90px;

    display: flex;
    flex-direction: column;
    max-width: 343px;
    min-width: 0;
    aspect-ratio: 343/400;
    border-radius: var(--housing-card-border-radius);
    border: 1px #a8a5a5 solid;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    background-clip: padding-box;
    transition: box-shadow 0.3s;

    &--boosted {
        border: unset;
        padding: 3px;
        background: linear-gradient(
            to left bottom,
            rgb(72, 204, 254),
            rgb(212, 99, 254)
        );
    }

    &:hover {
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__rating-container {
        display: flex;
        gap: 3px;
        align-items: center;
    }

    &__main-img-container {
        background-color: #fff;
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 0;
        overflow: hidden;
        border-radius: var(--housing-card-border-radius)
            var(--housing-card-border-radius) 0 0;
    }

    &__main-img {
        position: absolute;
        top: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 0.2s opacity ease-in-out;
    }

    &__image-pagination-div {
        visibility: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        position: absolute;
        bottom: 0px;
        height: 10px;
        width: 100%;
        gap: 5px;
    }

    &:hover {
        .housing-card__image-pagination-div {
            visibility: visible;
        }
    }

    &__info {
        background-color: white;
        min-height: 80px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 13px;
        border-radius: 0 0 var(--housing-card-border-radius)
            var(--housing-card-border-radius);
    }

    &__apartment-info {
        width: 100%;
        color: #152242;
        font-size: 20px;
        font-weight: 600;
    }

    &__address {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;

        display: -webkit-box;
        -webkit-line-clamp: 2; /* Ограничение на 2 строки */
        line-clamp: 2;
        -webkit-box-orient: vertical; /* Указание направления текста */
        overflow: hidden; /* Скрытие лишнего текста */

        color: #152242;
        font-size: 16px;
        font-weight: 500;
    }

    &__author-info {
        display: flex;
        flex-direction: row;
        gap: 5px;
        color: #152242;
        font-size: 15px;
    }

    &__rating {
        font-size: 14px;
    }

    &__kebab {
        position: absolute;
        top: 10px;
        right: 10px;
        width: var(--housing-card-kebab-size);
        height: var(--housing-card-kebab-size);

        border-radius: 50%;
        background-color: #00000079;

        display: flex;
        justify-content: center;
        align-items: center;

        &__icon {
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            fill: #fff;
        }

        &__actions {
            display: flex;
            overflow: hidden;
            flex-direction: row;
            justify-content: space-between;

            visibility: hidden;
            width: 0;
            height: var(--housing-card-kebab-size);
            border-radius: 20px;
            background: #a7a7a7;
            position: absolute;
            top: 0px;
            right: 0px;
            transition: all 0.4s;
        }

        &:hover {
            visibility: none;

            .housing-card__kebab__icon {
                visibility: hidden;
            }

            .housing-card__kebab__actions {
                width: var(--housing-card-kebab-actions-width);
                visibility: visible;
            }
        }
    }

    &__like-button {
        cursor: pointer;
        border-radius: 50%;
        background-color: #00000066;
        color: #fff;
        border: none;
        width: var(--housing-card-kebab-size);
        height: var(--housing-card-kebab-size);
        display: flex;
        justify-content: center;
        align-items: center;

        &__heart {
            color: #fff;
            transition: color 0.3s ease;
        }

        &:hover {
            .housing-card__like-button__heart {
                color: #e43030;
            }
        }
    }

    &__show-on-map-button {
        cursor: pointer;
        border-radius: 50%;
        background-color: #00000066;
        color: #fff;
        border: none;
        width: var(--housing-card-kebab-size);
        height: var(--housing-card-kebab-size);
        display: flex;
        justify-content: center;
        align-items: center;

        &__location-icon {
            fill: #ffffff;
            transition: fill 0.3s ease;
        }

        &:hover {
            .housing-card__show-on-map-button__location-icon {
                fill: #ffa552;
            }
        }
    }

    &__star {
        max-width: 16px;
        max-height: 16px;
    }

    &__circle {
        border-radius: 50%;
        width: 7px;
        height: 7px;
        background: #fff;

        &--fill {
            background: #ffa552;
        }
    }
}

.already-liked {
    color: #e43030 !important;
}

@media screen and (max-width: 900px) {
    .housing-card {
        width: 100%;
        aspect-ratio: auto;
        height: 190px;
        border: none;
        --housing-card-border-radius: 4px;
        --housing-card-kebab-size: 30px;
        --housing-card-kebab-actions-width: 65px;

        &__kebab {
            width: 30px;
            height: 30px;
        }

        &__address {
            font-size: 12px;

            -webkit-line-clamp: 1;
            line-clamp: 1;
        }

        &__info {
            height: 50px;
            min-height: 0;
            padding: 5px 3px;
            justify-content: flex-start;
        }

        &__apartment-info {
            width: 100%;
            font-size: 13px;
            font-weight: 600;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;

            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__author-info {
            display: none;
        }

        &__avatar {
            width: 20px;
            height: 20px;
        }

        &__author-name {
            font-size: 15px;
        }

        &__star {
            width: 11px;
        }
        &__rating {
            font-size: 12px;
        }
    }
}
