<div class='chat-page' id='{{id}}'>
    <h1 class='chat-page__heading'>Чат с Leo</h1>

    <div class='chat-page__chat-window'>
        <div class='chat-page__chat-window__message'>
            <img
                class='chat-page__chat-window__message__avatar'
                src='https://pic.rutubelist.ru/video/6d/80/6d80bfb69c429c5eadad461dde40a2db.jpg'
            />
            <div>
                <p class='chat-page__chat-window__message__author-name'>John Doe</p>
                <span class='chat-page__chat-window-message__text'>В первую
                    очередь посети Кремль, самое красивое место Москвы. Недалеко
                    от Кремля есть парк Зарядье. Обязательно погуляй там.
                    Загляни на висячий мост - там получаются хорошие фотки</span>
            </div>
        </div>
        <div class='chat-page__chat-window__message'>
            <img
                class='chat-page__chat-window__message__avatar'
                src='https://pic.rutubelist.ru/video/6d/80/6d80bfb69c429c5eadad461dde40a2db.jpg'
            />
            <div>
                <p class='chat-page__chat-window__message__author-name'>John Doe</p>
                <span class='chat-page__chat-window-message__text'>В первую
                    очередь посети Кремль, самое красивое место Москвы. Недалеко
                    от Кремля есть парк Зарядье. Обязательно погуляй там.
                    Загляни на висячий мост - там получаются хорошие фотки</span>
            </div>
        </div>

        <div class='chat-page__chat-window__bottom-part'>
            <textarea
                placeholder='Написать сообщение'
                class='chat-page__chat-window__input js-message-input'
                rows='1'
                maxlength='300'
            ></textarea>
            <button
                class='chat-page__chat-window__send-button'
                id='js-send-message-button'
            >
                <svg
                    aria-hidden='true'
                    width='16'
                    height='16'
                    viewBox='0 0 16 16'
                    fill='none'
                    xmlns='http://www.w3.org/2000/svg'
                ><path
                        d='M15.968 9.02v-2.1H3.88l4.495-4.544L6.953.971.03 7.969l6.924 6.999 1.422-1.407L3.882 9.02h12.086Z'
                        fill='currentColor'
                    ></path>
                </svg>
            </button>
        </div>
    </div>
</div>