<div class='ad-list-page'>
    <div class='ad-list-page__upper-container'>
        <h1 class='ad-list-page__title'>Список объявлений</h1>
        <button class='ad-list-page__add-button js-add-btn'>Добавить объявление</button>
    </div>
    <div class='js-advert-list'>
    </div>
</div>