<div class='ad-list-page'>
    <div class='ad-list-page__upper-container'>
        <h1 class='ad-list-page__title'>Список объявлений</h1>
        <button class='ad-list-page__add-button js-add-btn'>Добавить объявление</button>
    </div>
    <div class='ad-list-page__adverts-container js-advert-list'>
        {{#if empty}}
            <p class='ad-list-page__no-adverts-text'>Здесь пока пусто... 🕳️</p>
        {{/if}}
    </div>
</div>