<main class='error-page'>
    <h1 class='error-page__heading'>Доступ запрещен</h1>
    <p class='error-page__desc'>Скорее всего вы просто попали не на ту страницу</p>
    <a href='/' class='button error-page__button'>Перейти на главную</a>
    <p class='error-page__error-code'>Ошибка 403</p>
</main>