.graphic-page
    width: 100%
    height: 100%
    padding-top: 5%
    box-sizing: border-box
    overflow: auto

    &__graphic
        display: block
        margin: 0 auto
        border: 1px solid #ccc

    &__info
        display: flex
        justify-content: space-around
        margin-top: 20px

        span
            font-size: 14px
            display: flex
            align-items: center

            &::before
                content: ''
                display: inline-block
                width: 20px
                height: 2px
                margin-right: 8px
                vertical-align: middle

        &__rating::before
            background-color: #ffa552

        &__avg-rating::before
            background-color: #00a652
            border-top: 2px dashed #00a652

    &__additional-info
        margin-top: 30px
        padding: 0 5% 15px 5%

        p
            font-size: 18px
            margin: 5px 0

@media screen and (max-width: 900px)
    .canvas-scroll
        overflow-x: scroll

    .graphic-page
        overflow: hidden
    
        &__graphic
            width: min-content
            height: 250px

        &__info
            width: 100%
            display: flex
            flex-direction: row
            justify-content: space-evenly
            box-sizing: border-box
            padding: 0 10px

            span
                width: 45%
                text-align: center

                &::before
                    width: 30px
                    margin-right: 0
