@mixin button
    margin: 20px 0
    background-color: #FFA552 
    color: white 
    padding: 5px 20px
    min-width: fit-content
    min-height: 35px
    height: fit-content
    font-style: normal
    max-width: 150px 
    border-radius: 10px 
    border: none 
    font-size: 16px 
    font-weight: 600 
    cursor: pointer 