@use 'components/Header/Header'
@use 'components/AdCard/AdCard'
@use 'components/Filter/Filter'
@use 'components/AuthPopup/AuthPopup'
@use 'components/MainPhoto/MainPhoto'
@use 'components/MainPage/MainPage'
@use 'components/ProfilePopup/ProfilePopup'
@use 'components/EditAdvertPage/EditAdvertPage'
@use 'components/AdPage/AdPage'
@use 'components/AdListPage/AdListPage'
@use "components/ProfilePage/ProfilePage"
@use "components/ProfileData/ProfileData"
@use "components/ProfileInfo/ProfileInfo"
@use "components/CityPage/CityPage"
@use "components/SearchPopup/SearchPopup"
@use "components/PopupAlert/PopupAlert"
@use "components/Spinner/Spinner"

@font-face
    font-family: Inter
    src: url('/fonts/Inter.ttf')



*
    margin: 0
    padding: 0
    

body
    font-optical-sizing: auto
    font-style: normal
    font-family: Inter, Arial, 'sans-serif'
    background-color: #f6f6f6


.survey__iframe
    position: fixed
    overflow: hidden hidden
    width: min-content
    height: min-content
    scrollbar-width: 0 0
    bottom: 10px
    left: 10px
    border: none
    box-shadow: 0 0 6px 0 #000


@font-face
    font-family: MarckScript-Regular
    src: url("/fonts/MarckScript-Regular.ttf")

@font-face
    font-family: Dimkin-Light
    src: url("/fonts/Dimkin-Light.ttf")

@font-face
    font-family: Dimkin-Regular
    src: url("/fonts/Dimkin-Regular.ttf")

