<div class='advert-images-carousel__seconday-img-container'>
    <span
        class='advert-images-carousel__del-img-btn js-del-img-button'
        id='{{this.id}}'
    >x</span>
    <img
        class='advert-images-carousel__secondary_img js-carousel-img'
        src='{{this.path}}'
    />
</div>