<div class='horizontal-ad-card'>
    <img class='horizontal-ad-card__img' src='{{image}}' />

    <div class='horizontal-ad-card__info'>
        <svg
            class='horizontal-ad-card__notification-bell'
            viewBox='0 0 38 38'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
        >
            <path
                d='M21.7392 33.25C21.4608 33.7299 21.0613 34.1282 20.5805 34.4051C20.0998 34.682 19.5548 34.8277 19 34.8277C18.4452 34.8277 17.9002 34.682 17.4195 34.4051C16.9387 34.1282 16.5392 33.7299 16.2608 33.25M28.5 12.6667C28.5 10.1471 27.4991 7.73074 25.7175 5.94914C23.9359 4.16755 21.5196 3.16666 19 3.16666C16.4804 3.16666 14.0641 4.16755 12.2825 5.94914C10.5009 7.73074 9.5 10.1471 9.5 12.6667C9.5 23.75 4.75 26.9167 4.75 26.9167H33.25C33.25 26.9167 28.5 23.75 28.5 12.6667Z'
                stroke='#1E1E1E'
                stroke-width='4'
                stroke-linecap='round'
                stroke-linejoin='round'
            />
        </svg>

        <p class='horizontal-ad-card__city'>{{cityName}}</p>
        <p class='horizontal-ad-card__address'>{{address}}</p>
        <div class='horizontal-ad-card__buttons-container'>
            <button
                class='horizontal-ad-card__open-btn js-open-btn'
            >Открыть</button>
            <button
                class='horizontal-ad-card__edit-btn js-edit-btn'
            >Редактировать</button>
            <button
                class='horizontal-ad-card__del-btn js-del-btn'
            >Удалить</button>
        </div>
    </div>
</div>