.ad-card {
    display: flex;
    flex-direction: column;
    max-width: 343px;
    min-width: 0;
    aspect-ratio: 343/400;
    border-radius: 12px;
    border: 1px #a8a5a5 solid;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &__rating-container {
        display: flex;
        gap: 3px;
        align-items: center;
    }

    &__main-img-container {
        position: relative;
        width: 100%;
        height: 290px;
        min-height: 0;
        max-height: 290px;
    }

    &__main-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__image-pagination-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        position: absolute;
        bottom: 0px;
        height: 10px;
        width: 100%;
        gap: 5px;
    }

    &__info {
        background-color: white;
        min-height: 40px;
        height: 110px;
        display: flex;
        justify-content: space-around;
    }

    &__like-button {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        background-color: unset;
        border: none;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__star {
        max-width: 16px;
        max-height: 16px;
    }

    &__location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    &__city {
        font-size: 20px;
        margin: 0;
    }

    &__address {
        font-size: 16px;
        font-style: italic;
        margin: 0;
    }

    &__author-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__href {
        color: #808080;
        font-size: 14px;
        position: relative;
        bottom: -10px;
    }

    &__circle {
        border-radius: 50%;
        width: 7px;
        height: 7px;
        background: #fff;
    }

    &__circle--fill {
        background: #ffa552;
    }
}

@media screen and (max-width: 900px) {
    .ad-card {
        &__city {
            font-size: 15px;
        }
        &__address {
            width: 100%;
            font-size: 13px;
        }

        &__location {
            gap: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &__href {
            display: none;
        }

        &__avatar {
            width: 20px;
            height: 20px;
        }

        &__author-name {
            font-size: 15px;
        }

        &__star {
            width: 11px;
        }
        &__rating {
            font-size: 12px;
        }
    }
}
