<div class='ad-list-page'>
    {{#if isHost}}

        <div class='ad-list-page__content-container'>
            <div class='ad-list-page__left-content'>
                <div class='ad-list-page__upper-container'>
                    <h1 class='ad-list-page__title'>Список объявлений</h1>
                    <button class='ad-list-page__add-button js-add-btn'>Добавить
                        объявление</button>
                </div>
                <div class='ad-list-page__adverts-container js-advert-list'>
                    {{#if empty}}
                        <p class='ad-list-page__no-adverts-text'>Здесь пока
                            пусто... 🕳️</p>
                    {{/if}}
                </div>
            </div>

            <div class='ad-list-page__right' id='js-ad-edit-container'>
                <!-- PASTE CONTENT HERE -->
                <div class='ad-list-page__hint'>
                    <p class='ad-list-page__hint__header'>Подсказка</p>
                    <p class='ad-list-page__hint__text'>Кликните по объявлению,
                        чтобы отредактировать его.</p>
                    <p class='ad-list-page__hint__text'>Чтобы добавить новое
                        объявление, нажмите на кнопку "Добавить объявление".</p>
                    <p class='ad-list-page__hint__text'>Чтобы
                        <span class='rainbow-text'>продвинуть</span>
                        объявление, нажмите на стрелку рядом с нужным
                        объявлением.</p>
                </div>
            </div>
        </div>

    {{else}}

        <p class='ad-list-page__not-host-message'>🚫Вы не являетесь хостом,
            поэтому не можете создавать объявления.</p>
        <p class='ad-list-page__not-host-message'>Если вы хотите стать хостом,
            пожалуйста, измените свой статус в настройках</p>

    {{/if}}
</div>