<div class="review">
    <div class="review__main-container">
        <div class="review__profile">
            <div class="review__profile__img-container">
                <img src="/default.png" class="review__profile__img">
            </div>
            <h4 class="review__profile__name">Cосун Пердун</h4>
        </div>

        <div class="review__value">
            <h2 class="review__title">{{this.title}}</h2>
            <div class="review__text">
                {{this.text}}
            </div>
        </div>
    </div>

    <div class="review__add-info">
        <div class="review__add-info__rating-container">
            <p>Оценка:</p>
            <div class="review__add-info__stars">
                {{renderStars this.rating}}
            </div>
        </div>
        <div class="review__add-info__data">
            {{this.createdAt}}
        </div>
    </div>
</div>