.main-page__advert {
    row-gap: 30px;
    column-gap: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex-grow: 1;
}

@media screen and (max-width: 900px) {
    .main-page__advert {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        width: 90%;
        margin: 0 auto;
    }
}
