@use '../src/components/Header/Header';
@use '../src/components/AdCard/AdCard';
@use '../src/components/ShortAdCard/ShortAdCard';
@use '../src/components/Filter/Filter';
@use '../src/components/AuthPopup/AuthPopup';
@use '../src/components/MainPhoto/MainPhoto';
@use '../src/components/ProfilePopup/ProfilePopup';
@use '../src/components/ReviewCard/ReviewCard';
@use '../src/components/ProfileData/ProfileData';
@use '../src/components/ProfileData/RatingForm';
@use '../src/components/ReviewsGraphic/ReviewsGraphic';
@use '../src/components/ProfileInfo/ProfileInfo';
@use '../src/components/SearchPopup/SearchPopup';
@use '../src/components/PopupAlert/PopupAlert';
@use '../src/components/PopupSuccess/PopupSuccess';
@use '../src/components/ProfileData/NoReviews/NoReviews';
@use '../src/components/Spinner/Spinner';
@use '../src/components/HorizontalAdCard/HorizontalAdCard';
@use '../src/components/ChatWindow/ChatWindow';
@use '../src/components/BookingCalendar/BookingCalendar';
@use '../src/components/JourneyMap/JourneyMap';

/* pages */
@use '../src/pages/MainPage/MainPage';
@use '../src/pages/EditAdvertPage/EditAdvertPage';
@use '../src/pages/AdListPage/AdListPage';
@use '../src/pages/ProfilePage/ProfilePage';
@use '../src/pages/MapPage/MapPage';
@use '../src/pages/CityPage/CityPage';
@use '../src/pages/AdPage/AdPage';
@use '../src/pages/ChatPage/ChatPage';
@use '../src/pages/FavouritePage/FavouritePage';
@use '../src/pages/PaymentPage/PaymentPage';
@use '../src/pages/PaymentSuccessPage/PaymentSuccessPage';
@use './ErrorPage';

@font-face {
    font-family: Inter;
    src: url('/fonts/Inter.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: Inter, Arial, 'sans-serif';
    background-color: #fff;
}

#root {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: MarckScript-Regular;
    src: url('/fonts/MarckScript-Regular.ttf');
}

@font-face {
    font-family: Dimkin-Light;
    src: url('/fonts/Dimkin-Light.ttf');
}

@font-face {
    font-family: Dimkin-Regular;
    src: url('/fonts/Dimkin-Regular.ttf');
}

::selection {
    color: #fff;
    background: #ffa552;
}
