<div class='edit-advert-images-carousel__seconday-img-container'>
    <span
        class='edit-advert-images-carousel__del-img-btn js-del-img-button'
        id='{{this.id}}'
        data-name='{{this.name}}'
    >x</span>
    <img
        class='edit-advert-images-carousel__secondary-img js-carousel-img'
        src='{{this.path}}'
    />
</div>