<div class='survey'>
    <button class='survey__close-cross'>x</button>
    <p class='survey__title'>Насколько вы удовлетворены вашей жизнью?</p>
    <div class='survey__stars'>⭐⭐⭐⭐⭐</div>
    <button class='survey__next-button'>Далее</button>
</div>