@font-face {
    font-family: Inter;
    src: url('../fonts/Inter.ttf');
}

@mixin button {
    margin: 0;
    background-color: #ffa552;
    color: white;
    padding: 5px 20px;
    min-width: fit-content;
    min-height: 35px;
    height: fit-content;
    font-style: normal;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition:
        transform 0.1s,
        box-shadow 0.1s,
        background-color 0.1s;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
    &:active {
        transform: translateY(2px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}

body {
    background-color: #616161;
}

.survey {
    padding: 10px 30px;
    font-family: Inter, Arial, 'sans-serif';
    background-color: #fff;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    position: relative;

    &__close-cross {
        border: none;
        background: none;
        position: absolute;
        top: 0;
        right: 5px;
        cursor: pointer;
        color: #a4a5a7;
        font-size: 30px;
    }

    &__title {
        font-weight: 400;
        font-size: 18px;
    }

    &__stars {
        font-size: 20px;
    }

    &__next-button {
        @include button;
        margin-top: 30px;
    }
}
