@font-face {
    font-family: Inter;
    src: url('../../fonts/Inter.ttf');
}

@mixin button {
    margin: 0;
    background-color: #ffa552;
    color: white;
    padding: 5px 20px;
    min-width: fit-content;
    min-height: 35px;
    height: fit-content;
    font-style: normal;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition:
        transform 0.1s,
        box-shadow 0.1s,
        background-color 0.1s;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
    &:active {
        transform: translateY(2px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}

$unchecked-color: #ffffff; // Цвет для невыбранных звезд
$checked-color: #ffa552; // Цвет для выбранных звезд
$hover-color: #ffb570; // Цвет для звезд при наведении

$new-rate-star-empty: url('/svg/star-empty.svg'); // Путь к пустой звезде
$new-rate-star-filled: url('/svg/star-filled.svg'); // Путь к заполненной звезде

body {
    background-color: #616161;
    overflow: hidden;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    margin: 0;
}

.survey {
    padding: 10px 30px;
    font-family: Inter, 'sans-serif';
    background-color: #fff;
    border: none;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;

    &__close-cross {
        border: none;
        background: none;
        position: absolute;
        top: 0;
        right: 5px;
        cursor: pointer;
        color: #a4a5a7;
        font-size: 30px;
    }

    &__title {
        font-weight: 400;
        font-size: 18px;
    }

    &__form {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        border-radius: 10px;
    }

    &__fieldset {
        border: 0;
        margin-left: 0;
        padding-left: 0;
        width: 9em;
        border-radius: 1px;
    }

    &__stars {
        font-size: 0;
        display: flex;
        flex-direction: row;
        justify-content: left;
        unicode-bidi: bidi-override;
        direction: rtl;
        width: 100%;

        input {
            display: none;
        }

        label {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
            background-image: $new-rate-star-empty;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        input:hover + label,
        input:hover + label ~ label {
            background-image: $new-rate-star-filled;
        }

        input:checked + label,
        input:checked + label ~ label {
            background-image: $new-rate-star-filled;
        }
    }

    &__next-button {
        @include button;
        margin-top: 30px;
    }

    /* Net Promoter Score */
    &__nps {
        display: flex;
        width: 100%;
        flex-direction: column;

        &__rating-scale {
            display: flex;
            width: 100%;
            gap: 6px;
        }

        &__rating-button {
            margin: 0;
            background-color: #eff0f2;
            border-radius: 8px;
            padding: 10px 8px;
            border: none;
            color: #757575;
            font-weight: 600;
            cursor: pointer;
            transition:
                background-color 0.3s,
                color 0.3s;
            :hover {
                background-color: #007aff;
                color: white;
            }

            &-selected {
                background-color: #007aff;
                color: white;
            }
        }

        &__hints {
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }

        &__hint-text {
            font-size: 14px;
            margin-top: 10px;
            color: #666;
            flex: 0 1 auto;

            &-left {
                text-align: left;
            }

            &-right {
                text-align: right;
            }
        }

        &__emojis {
        font-size: 0;
        display: flex;
        flex-direction: row;
        justify-content: left;
        unicode-bidi: bidi-override;
        direction: rtl;
        width: 100%;

        input {
            display: none;
        }

        label {
            display: inline-block;
            font-size: 1.5rem;
            width: 2rem;
            height: 2rem;
            text-align: center;
            cursor: pointer;
            transition: transform 0.2s, color 0.2s;

            &:hover {
                transform: scale(1.2);
            }
        }

        input:checked + label {
            transform: scale(1.3);
        }
    }

        .error-message {
            margin: 0px;
            font-weight: 600;
            font-size: 16px;
            color: #e52a2a;
        }
    }
}
