{{#*inline "stars"}}
<div class='survey__rating'>
        <form class='survey__form js-star-form'>
            <fieldset class='survey__fieldset'>
                <span class='survey__stars survay-span'>
                    <input
                        type='radio'
                        id='survey-rate-5'
                        name='rating'
                        value='5'
                    />
                    <label for='survey-rate-5'>5</label>
                    <input
                        type='radio'
                        id='survey-rate-4'
                        name='rating'
                        value='4'
                    />
                    <label for='survey-rate-4'>4</label>
                    <input
                        type='radio'
                        id='survey-rate-3'
                        name='rating'
                        value='3'
                    />
                    <label for='survey-rate-3'>3</label>
                    <input
                        type='radio'
                        id='survey-rate-2'
                        name='rating'
                        value='2'
                    />
                    <label for='survey-rate-2'>2</label>
                    <input
                        type='radio'
                        id='survey-rate-1'
                        name='rating'
                        value='1'
                    />
                    <label for='survey-rate-1'>1</label>
                </span>
            </fieldset>
        </form>
    </div>
{{/inline}}

{{#*inline "emojis"}}
<div class='survey__emojis'>
    <form class='survey__form js-star-form'>
        <fieldset class='survey__fieldset'>
            <span class='survey__emojis survay-span'>
                <input
                    type='radio'
                    id='survey-emoji-5'
                    name='rating'
                    value='5'
                />
                <label for='survey-emoji-5'>😍</label>
                <input
                    type='radio'
                    id='survey-emoji-4'
                    name='rating'
                    value='4'
                />
                <label for='survey-emoji-4'>🙂</label>
                <input
                    type='radio'
                    id='survey-emoji-3'
                    name='rating'
                    value='3'
                />
                <label for='survey-emoji-3'>😐</label>
                <input
                    type='radio'
                    id='survey-emoji-2'
                    name='rating'
                    value='2'
                />
                <label for='survey-emoji-2'>😕</label>
                <input
                    type='radio'
                    id='survey-emoji-1'
                    name='rating'
                    value='1'
                />
                <label for='survey-emoji-1'>😡</label>
            </span>
        </fieldset>
    </form>
</div>
{{/inline}}

{{#*inline "nps"}}
<div class="survey__nps">
  <div class="survey__nps__rating-scale">
    <button class="survey__nps__rating-button js-nps-button" data-value="0">0</button>
    <button class="survey__nps__rating-button js-nps-button" data-value="1">1</button>
    <button class="survey__nps__rating-button js-nps-button" data-value="2">2</button>
    <button class="survey__nps__rating-button js-nps-button" data-value="3">3</button>
    <button class="survey__nps__rating-button js-nps-button" data-value="4">4</button>
    <button class="survey__nps__rating-button js-nps-button" data-value="5">5</button>
    <button class="survey__nps__rating-button js-nps-button" data-value="6">6</button>
    <button class="survey__nps__rating-button js-nps-button" data-value="7">7</button>
    <button class="survey__nps__rating-button js-nps-button" data-value="8">8</button>
    <button class="survey__nps__rating-button js-nps-button" data-value="9">9</button>
    <button class="survey__nps__rating-button js-nps-button" data-value="10">10</button>
  </div>
  <div class="survey__nps__hints">
    <span id="result" class="survey__nps__hint-text survey__nps__hint-text-left">точно<br/> не буду рекомендовать</span>
    <soan id="result" class="survey__nps__hint-text survey__nps__hint-text-right">точно <br/> порекомендую</soan>
  </div>
</div>

{{/inline}}

<div class='survey'>
    <button class='survey__close-cross'>x</button>
    <p class='survey__title'>{{title}}</p>
    {{> stars}}
    <button class='survey__next-button'>Далее</button>
</div>
