.no-scroll {
    overflow: hidden;
}

.profile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile-list {
    position: relative;
    top: 70px;
    left: 88%;
    min-width: min-content;
    max-width: 120px;
    padding: 20px 20px 0px 20px;
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #635b5b;
    background-color: #ffffff;
    margin-right: 10px;
}

.profile-list__href {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #635b5b;
    cursor: pointer;
}

.profile-list__underline {
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .profile-list {
        left: 100%;
        transform: translateX(-100%);
    }
}
