<form class="edit-form" enctype="multipart/form-data">
    <div class="edit-form__title">
        <p class="edit-form__title__p1">Обновление профиля</p>
    </div>
    
    <div class="edit-form__data">
        <div class="edit-form__data__first-column">
            <div class="edit-form__input-line">
                <p class="edit-form__input-line__title">Никнейм:</p>
                <input id="username" name="username" class="edit-form__input-line__input" type="text">
            </div>
            <div class="edit-form__input-line">
                <p class="edit-form__input-line__title">Имя:</p>
                <input id="name" name="name" class="edit-form__input-line__input" type="text">
            </div>
            <div class="edit-form__input-line">
                <p class="edit-form__input-line__title">Почта:</p>
                <input id="email" name="email" class="edit-form__input-line__input" type="email">
            </div>
            <div class="edit-form__input-line">
                <p class="edit-form__input-line__title">Пол:</p>
                <input id="email" name="email" class="edit-form__input-line__input" type="email">
            </div>
            <div class="edit-form__input-line">
                <p class="edit-form__input-line__title">Адрес:</p>
                <input id="email" name="email" class="edit-form__input-line__input" type="email">
            </div>
            <div class="edit-form__input-line">
                <p class="edit-form__input-line__title">День рождения:</p>
                <input id="email" name="email" class="edit-form__input-line__input" type="email">
            </div>
            <div class="edit-form__input-line">
                <p class="edit-form__input-line__title">Хост:</p>
                <input id="email" name="email" class="edit-form__input-line__input" type="email">
            </div>
            <div class="edit-form__input-line">
                <p class="edit-form__input-line__title">Пароль:</p>
                <input id="password" name="password" class="edit-form__input-line__input" type="password">
            </div>
        </div>


        <div class="edit-form__data__second-column">
            <div class="edit-form__avatar__image-container">
                <img src="../../images/default_user_icon.png" class="edit-form__avatar__image-container__image">
            </div>
            <div class="edit-form__avatar__file-upload-wrapper" data-text="Select your file!">
                <input id="avatar" name="avatar" type="file" class="edit-form__avatar__file-upload-wrapper__input" value="">
            </div>

            <div class="edit-form__buttons">
                <button type="submit" class="edit-form__buttons__submit-button">Обновить</button>
                <button type="reset" class="edit-form__buttons__reset-button">Сбросить</button>
            </div>
        </div>
    </div>
</form>