<div id="new-rate" class="new-rate">
    <h1 class="new-rate__caption">Ваш отзыв</h1>
    <form class="new-rate__form">
        <h3 class="new-rate__overall-rate">Общая оценка</h3>
        <fieldset class="new-rate__fieldset">
            <span class="new-rate__stars">
                <input type="radio" id="new-rate-5" name="rating" value="5" />
                <label for="new-rate-5">5</label>
                <input type="radio" id="new-rate-4" name="rating" value="4" />
                <label for="new-rate-4">4</label>
                <input type="radio" id="new-rate-3" name="rating" value="3" />
                <label for="new-rate-3">3</label>
                <input type="radio" id="new-rate-2" name="rating" value="2" />
                <label for="new-rate-2">2</label>
                <input type="radio" id="new-rate-1" name="rating" value="1" />
                <label for="new-rate-1">1</label>
            </span>
        </fieldset>
    </form>

    <div class="new-rate__title-container">
        <input id="review-title" type="text" placeholder="Заголовок" class="new-rate__title-container__title"/>
    </div>

    <div class="new-rate__review-container">
        <textarea id="review-text" type="text" placeholder="Текст" class="new-rate__review-container__text"></textarea>
    </div>

    <div class="new-rate__button-container">
        <button type="submit" class="new-rate__leave-review js-leave-review">Оставить отзыв</button>
    </div>
</div>
