.map-page
    display: grid
    grid-template-areas: 'people map'
    grid-template-columns: 25% 1fr
    overflow-x: hidden
    overflow-y: hidden

.people-list
    grid-area: people
    position: absolute
    background-color: #c6c6c6
    height: calc(100vh - 100px)
    width: 25%
    overflow-y: scroll

    padding-top: 20px
    cursor: pointer

.map
    grid-area: map
    height: calc(100vh - 80px)

[class*="copyrights-pane"]
    display: none !important

.carousel-container 
    position: relative
    width: 100%
    height: 150px

    .carousel 
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        width: 100%
        height: 100%

        .carousel-item 
            flex-shrink: 0
            width: 100%
            height: 100%
            position: relative

            .carousel-image 
                margin: auto
                position: absolute
                top: 0
                left: 0
                bottom: 0
                right: 0

                width: auto
                height: 100%
                max-width: 100%
                object-fit: cover

    .carousel-btn 
        position: absolute
        top: 50%
        transform: translateY(-50%)
        background-color: rgba(0, 0, 0, 0.5)
        color: white
        border: none
        cursor: pointer
        z-index: 1
        padding: 5px
        font-size: 18px
        border-radius: 50%

        &:hover 
            background-color: rgba(0, 0, 0, 0.7)

        &.prev 
            left: 10px

        &.next 
            right: 10px



@media screen and (max-width: 900px)
    .map-page
        display: block
    .people-list
        display: none
    .ymaps
        width: 100%