.journey-map
    margin: auto 0px

    svg
        width:100%
        margin-top: 2%
        margin-left: 3%

        path
            fill: rgba(0, 0, 0, 0.2)

.region-hover
    fill: #f5cb42 !important

@media screen and (max-width: 900px)
    .journey-map 
        svg
            height: auto
