.map-page
    display: grid
    grid-template-areas: 'people map'
    grid-template-columns: 25% 1fr
    overflow-x: hidden
    overflow-y: hidden

.people-list
    grid-area: people
    position: absolute
    background-color: #c6c6c6
    height: calc(100vh - 130px)
    width: 25%
    overflow-y: scroll

    padding-top: 20px
    cursor: pointer

.map
    grid-area: map
    height: calc(100vh - 110px)

[class*="copyrights-pane"]
    display: none !important

@media screen and (max-width: 900px)
    .map-page
        display: block
    .people-list
        display: none
    .ymaps
        width: 100%