<div class='payment-success-page'>
    <h1 class='payment-success-page__heading'>Спасибо за покупку!</h1>

    <p class='payment-success-page__desc'>Услуга на продвижение объявления
        успешно оплачена!</p>
    <a
        class='button payment-success-page__return-button'
        href='ads/?author=me'
    >Вернуться к своим объявлениям</a>
</div>