@use '../../styles/mixins';

.horizontal-ad-card {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 15px;
    transition: 0.3s all;
    border: 2px #e4e4e4 solid;
    border-bottom: none;

    &:last-child {
        border-bottom: 2px #e4e4e4 solid;
    }

    &:hover {
        background-color: #cecece;
    }
    &__img {
        min-width: 270px;
        width: 270px;
        height: 150px;
        object-fit: cover;
        border-radius: 2px;
    }
    &__info {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    &__notification-bell {
        position: absolute;
        width: 32px;
        top: 0px;
        right: 0px;
        cursor: pointer;
    }
    &__city {
        font-size: 32px;
    }
    &__address {
        font-size: 20px;
        color: #7a7a7a;
    }
    &__buttons-container {
        display: flex;
        gap: 30px;
    }
    &__open-btn {
        @include mixins.small-button;
        background-color: #e6f0ff;
        color: #0661ec;

        &:hover {
            background-color: #d9e8ff;
        }
    }
    &__edit-btn {
        @include mixins.small-button;
        background-color: #e6f0ff;
        color: #0661ec;

        &:hover {
            background-color: #d9e8ff;
        }
    }
    &__del-btn {
        @include mixins.small-button;
        background-color: #e6f0ff;
        color: #0661ec;

        &:hover {
            background-color: #d9e8ff;
        }
    }

    &__boost-button {
        @include mixins.small-button;
        background: linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
        );
    }
}

@media screen and (max-width: 900px) {
    .horizontal-ad-card {
        border: 2px #e4e4e4 solid;

        &__buttons-container {
            margin-top: 10px;
            justify-content: space-evenly;
        }

        &__boost-button {
            width: 56px;
            height: 35px;
        }
    }
}
