#profile-content {
    display: grid;
    grid-template-areas: 'profile actions';
    grid-template-columns: 1fr 2fr;
    height: 83vh;
    gap: 3vh;
}

.profile__profile-container {
    grid-area: profile;
    height: 100%;
}

.profile__data-container {
    grid-area: actions;
    min-height: 100%;
}
