<div class="search-popup__container js-search-popup">
    <div class="search-container__column">
        Москва
        Казань
        Нижний новгород
    </div>
    <div class="search-container__column">
        Москва
        Казань
        Нижний новгород
    </div>
    <div class="search-container__column">
        Москва
        Казань
        Нижний новгород
    </div>
</div>

