<div class='profile-list' id='js-profile-list'>
    {{#each this}}
        <div>
            <a href='{{this.href}}' id='{{@key}}' class='profile-list__href'>
                {{this.title}}
            </a>
        </div>
    {{/each}}
</div>