<main class='error-page'>
    <h1 class='error-page__heading'>Страница не найдена</h1>
    <p class='error-page__desc'>Возможно, у вас опечатка в адресе страницы, или
        её просто не существует :(
    </p>
    <a href='/' class='button error-page__button'>Перейти на главную</a>
    <p class='error-page__error-code'>Ошибка 404</p>
</main>